.heading {
    font-size: larger;
    font-weight: 800;
    letter-spacing: 1ch;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
}

.heading::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    top: 150%;

}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 80px;
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    place-items: center;
    gap: 15px;
}

.image_grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.image_grid img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}